header {
  background-color: rgb(255, 255, 255);

  position: fixed;

  height: 80px;
  width: 100vw;
}

#header-logo{
  height: 36px;
  width: 166px;
}


// la classe inpage servirà a dare un padding al contenuto del blocco
#jt {
  background-color: #c7c7c7;

  height: 670px;
  width: 100vw;
}

.inpage {
  padding: 0 auto;
}

.sz-lt {
  font-size: 15px;
}

header {
  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    height: 56px;


    ul{
      list-style: none;
    }
  }
}
