header {
  background-color: rgb(255, 255, 255);

  position: fixed;

  height: 80px;
  width: 100vw;
}

#header-logo{
  height: 36px;
  width: 166px;
}


// la classe inpage servirà a dare un padding al contenuto del blocco
#jt {
  background-color: #c7c7c7;

  height: 670px;
  width: 100vw;
}

.inpage {
  padding: 0 auto;
}

.sz-lt {
  font-size: 10px;
}

header {


    .row {
      content: "";
      display: table;
      clear: both;

      ul{
        list-style: none;

        display: flex;
          justify-content: space-around;
        align-items: center;
        flex-direction: row;

        height: 56px;

        li{
          padding: 11px;

          a{
            color: black;
            text-decoration: none;
          }

          &:hover{

            color: watergreen

          }
        }
      }
    }
}
