header {
  background-color: rgb(255, 255, 255);

  position: fixed;

  height: 80px;
  width: 100vw;
}


// la classe inpage servirà a dare un padding al contenuto del blocco
#jt {
  background-color: #c7c7c7;

  height: 670px;
  width: 100vw;
}

.inpage {
  padding: 0 auto;
}

.sz-lt {
  font-size: 15px;
}
