// variables
$lk-watergreen: #40E0D0;

$lk-darkviolet: #3f146e;

$ft-bkblack: #171621;

// Extend
%fix-box {
  position: fixed;
  z-index: 1;
}

%form-green{
  color: #40E0D0;
  text-decoration: underline;
}

%text-font {
  font-family: 'Open Sans', sans-serif;
}

%search-prop {
  border: 0;
  border-radius: 3px;

  padding: 5px;
}

%icon-hover {
  color: #40E0D0;
   font-size: 17px;
}

%bttn-style {
  background-color: $lk-watergreen;
  color: white;

  border: 0;
  border-radius: 7px;
}

%padding-roules{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
