@import 'partials/variables';
@import 'partials/homepage';


* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, a {
  @extend %text-font;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
}


// color
.gray{
  color: rgb(200, 200, 200);
}

.dkgray {
  color: rgb(160, 160, 160);
}

.green {
  color: #40E0D0;
}

.vdk-gray {
  color: gray;
}
